# ~/.env.development.local.example
# Timezone
TZ=Europe/Berlin
LOCALE=en
# Mirco
LOCKBOX_MASTER_KEY=0000000000000000000000000000000000000000000000000000000000000000
# generate key with bin/rails secret
SECRET_KEY_BASE=**************

# -- redis
REDIS_URL=redis://localhost:6379

# -- postgres
POSTGRES_USER=postgres
POSTGRES_DB=mirco_development
POSTGRES_PASSWORD=verystrongsecret
POSTGRES_HOST=localhost
# TIMESCALEDB
TIMESCALEDB_TELEMETRY=off
RAILS_ENV=development
