---
# -- job scheduling
# cron_fetch_statistics: '*/5 * * * *'
# cron_fetch_channels: '0 1 * * 6'
# cron_fetch_configuration: '15 1 * * 6'
# cron_purge_timescale:  '30 1 * * 6'

# -- authentication modules
# WARNING: do not change devise_modules unless you know what you are doing
#
# devise_modules:
#   - database_authenticatable
#   - registerable
#   - recoverable
#   - rememberable
#   - trackable

# -- SSL
# use_ssl: false

# -- action cable request origins
# action_cable_allowed_request_origins:
#   - http://localhost:3001
#   - https://localhost:3001

# -- action mailer settings
# host: localhost
# port: 3000
# script_name: /
# mail_from: do-not-reply@from-some-domain
# mail_to:
#  - jane.doe@example.org

# -- send mails
# smtp_settings:
#   address: smtp.example.com
#   port: 25
#   domain: sender.example.com
#   enable_starttls_auto: false
 
# -- ldap settings: optional
# enable_ldap_authentication: true
# ldap_options:
#   hosts:
#     - [ dc1.example.com, 3269 ]
#     - [ dc2.example.com, 3269 ]
#   base: dc=example,dc=de
#   encryption: :simple_tls
#   auth:
#     method: :simple
#     username: readonlyuser@example.com
#     password: averystrongsecret
