#
# copy me to deploy-config.yml and edit
#
hosts: 
  web: myserver
  app: myserver
  db: myserver
repo_url: https://github.com/swobspace/mirco.git
user: deploy
deploy_to: /var/www/apps/mirco
relative_url_root: /
ruby_path: "/opt/ruby/2.7/bin:$PATH"
