<%= link_to software_connections_path(filter), class: "btn btn-#{alert}" do %>
  <i class="fas fa-table"></i>
  <%= label %> <span class="badge bg-white text-primary"><%=relation.count%></span>
<% end %>
